@charset "UTF-8";
.body {
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    font-family: Montserrat, serif;
    margin:0;
       }
.container {
    padding: 0;
}
/*Задний фон*/
.header {
    background-color: #fce38a;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    display: inline-block;
    position: relative;
    width: 100%;

    }
.header:before {
    content: "";
    background: url(../img/Layer_15.png) no-repeat center top/cover;

    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: +5;
    }

/*задний фон*/
.line_head {
    display: inline-block;
    justify-content: space-between;
    margin: 0;
    padding:13px;
    text-decoration-color:white ;
    color: white;
    font-size: 14px;
    position: relative;
}
.row {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.menu {
    font-size: 14px;
    color: #fce38a;
    text-transform: uppercase;
}
.logo {
    margin-top: 29px;
    height: 23px;
    color: #fff;
    font-weight: 700; }
.title {
    padding-top: 160px;
    text-align: center; }

.title_creative {
    font-family: 'Kaushan Script',cursive;
    font-size: 60px;
    color: white; }

.title_welcome {
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    width: 700px;
    margin: 0 auto; }

.line_head {
    border-bottom: 3px solid #fff;
    width: 60px;
    padding-top: 70px;
    margin: 0 auto; }

.learn_morebotton {
    width: 170px;
    color: white;
    display: block;
    border: 3px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    padding-top: 10px;
    padding-bottom: 10px; }
.dowm_slider {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.title_up{
    padding-top: 90px;
    font-family: 'Kaushan Script',cursive;
    font-size: 20px;
    color: #333;
    text-align: center
    /*margin: 0;*/
}
.title_mid{
    font-size: 30px;
    padding-top: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.title_line{
    border-bottom: 3px solid red;
    width: 60px;
    padding-top: 40px;
    margin: 0 auto;
}
.title_down{
    text-align: center;
    font-size: 14px;
    padding-top: 50px;
    width: 900px;
    margin: 0 auto;
}
.story{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.row-img{
    display: flex;
    justify-content: space-between;
}
.row-img > .img_us {
    height: 250px;
    width: 380px;
    position: relative;
    background-color: #95e1d3;
}
.row-img > .img_us > .img_story {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.row-img > .img_us > .img_story:hover {
    top: -15px;
    left: -15px;

}
h5 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.statistics{
    background-color: #95e1d3;
    display: flex;
    justify-content: space-around;
}
.stat{
    justify-content: space-between;
    padding: 0;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    /*border: 1px solid #fff;*/
    border-right: 1px solid #fff;
    height: 100%;
}
.stat:first-child {
    border-left: 1px solid #fff; }

.stat h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
.stat h4 {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.info{
    width: 100%;
    }
.services{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.egypt{
    display: flex;
    justify-content: space-between;
}
.servis_row{
    width: 360px;
    height: 150px;
    position: relative;
    margin-top: 55px;
    margin-bottom: 52px;

}
.services_block{
    /*width: 360px;*/
    /*height: 150px;*/
    /*position: relative;*/
    /*margin-top: 55px;*/
    /*margin-bottom: 52px;*/
    border-bottom: 1px solid #eee;
}
.partn_row{
    display: flex;
    justify-content: center;
}
.design{
    display: block;
    position: relative;
    width: 100%;
}
.design:after{
    content: "";
    background: url(../img/Layer_45.png);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.design_img_one {
    padding-top: 5px;
    margin: 0 auto;
    justify-content: center;
    width: 470px;
}

.design_img_two {
    position: absolute;
    bottom: -90px;
    display: flex;
    left: 59%;
}
.service{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.team{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.team > .team_block{
    display: flex;
    justify-content: space-around;
}
.team >.team_block >.teammate > .img_wrapper{
    width: 380px;
    height: 470px;
    position: relative;
    background-color: #95e1d3;
}
.team >.team_block >.teammate > .inro_taem{
    text-align: end;
}
.team >.team_block >.teammate > .img_wrapper > .img_team{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.team >.team_block >.teammate > .img_wrapper > .img_team:hover{
    top: -15px;
    left: -15px;
}
.partners{
    background-color: #f8f8f8;;

}
.line{
    padding: 0;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

}
.line img {
    height: 100%;
}
.father{
    padding-top: 100px;
    display: flex;
  }
.imgwork{
    display: table-cell;
   }
.imgwork img {
    vertical-align: middle;
    height: auto;
}
.map{
    display: block;
    position: relative;
    height: 202px;
}
.map::after{
    content: "";
    background: url(../img/Layer_59.png) no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.peoplesay{
    display: block;
    position: relative;
}
.peoplesay::after{
    content: "";
    background: url(../img/Layer_53.png);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.peoplesay_conteiner{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 130px;
}
.ico__onmap{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.ico__onmap i{
    color: #f38181;
    font-size: 2rem;
    text-align: center;
}
.title__onmap {
    color: #f38181;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 14px;
    cursor: pointer;
}
.line__onmap {
    border-bottom: 3px solid #f38181;
    width: 60px;
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 35px
}
footer{
    background: #f8f8f8;
}

.box_one_followers {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}
.box_one_followers h3 {
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 18px;
    /*font-family: Montserrat;*/
    font-weight: 700;
    margin-right: 5px;
}
.box_one_followers p {
    margin: 0;
    padding: 0;
    font-size: 14px;

}
.follow__us {
    border-top: 2px solid #e5e5e5;
    font-size: 1rem;
}
.follow__us p {
    color: #999999;
    font-family:  Roboto, sans-serif;
    font-weight: 300;
    font-style: italic;
}
.follow__us a{
    text-decoration: none;
    color: #95e1d3;
    display: inline-block;
    margin-left: 10px;
}
.follow__us a:hover{
    text-decoration: none;
    color: #f38181;
    display: inline-block;
    margin-left: 10px;
}

.footer_box_2 {
    padding: 0;
    padding-top: 80px;
    /*padding-right: 45px;*/
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;
}
.footer_box_2 h3 {
    color: #333;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Montserrat, sans-serif ;
    margin-bottom: 40px;
    font-weight: 700;
}
.footer_box_2_blog {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.footer_box_2_blog img {
    width: 120px;
    height: 80px;
    margin-right: 10px;
}
.footer_box_2_blog p {
    margin: 0;
    color: #999999;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 24px;
}
.footer_box_2_blog span{
    margin: 0;
    color: #999999;
    font-style: italic;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    text-transform: none;
    display: inline-block;
    font-weight: 300;
}
.box_tree_instagram {
    padding: 0;
    padding-top: 80px;
}
.box_tree_instagram h3{
        color: #333;
        text-transform: uppercase;
        font-size: 16px;
        font-family: Montserrat,serif;;
        margin-bottom: 40px;
        font-weight: 700;
    }
.box_insta {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.box_insta  img {
    width: 90px;
    height: 90px;
    padding: 1px;
}
.box_insta  a{
    color: #333333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    font-weight: 300;
    font-style: italic;
    font-family: Roboto, sans-serif;
    font-size: 13px;
}
.copywrite {
    padding-top: 25px;
    padding-bottom: 10px;
    border-top: 2px solid #e5e5e5;
}
.copywrite p{
    color: #333333;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
}
.copywrite a{

    color: #f38181;
    text-decoration: none;
}
.footer_h {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0;
    display: flex;
    /*justify-content: space-between;*/
}

