@charset "UTF-8";
.body {
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    font-family: Montserrat, serif;
    margin: 0px;
       }
.container {
    padding: 0;
}
/*Задний фон*/
.header {
    background-color: #fce38a;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    display: inline-block;
    position: relative;
    width: 100%;

    }
.header:before {
    content: "";
    background: url(../img/Layer_15.png) no-repeat center top/cover;

    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: +5;
    }

/*задний фон*/
.line_head {
    display: inline-block;
    justify-content: space-between;
    margin: 0;
    padding:13px;
    text-decoration-color:white ;
    color: white;
    font-size: 14px;
    position: relative;
}
.row {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.menu {
    justify-content: flex-end;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.logo {
    margin-top: 29px;
    height: 23px;
    color: #fff;
    font-weight: 700; }
.title {
    padding-top: 160px;
    text-align: center; }

.title_creative {
    font-family: 'Kaushan Script',cursive;
    font-size: 60px;
    color: white; }

.title_welcome {
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    width: 700px;
    margin: 0 auto; }

.line_head {
    border-bottom: 3px solid #fff;
    width: 60px;
    padding-top: 70px;
    margin: 0 auto; }

.learn_morebotton {
    width: 170px;
    color: white;
    display: block;
    border: 3px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    padding-top: 10px;
    padding-bottom: 10px; }
.dowm_slider {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.title_up{
    padding-top: 90px;
    font-family: 'Kaushan Script',cursive;
    font-size: 20px;
    color: #333;
    text-align: center
    /*margin: 0;*/
}
.title_mid{
    font-size: 30px;
    padding-top: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.title_line{
    border-bottom: 3px solid red;
    width: 60px;
    padding-top: 40px;
    margin: 0 auto;
}
.title_down{
    text-align: center;
    font-size: 14px;
    padding-top: 50px;
    width: 900px;
    margin: 0 auto;
}
.story{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.row-img{
    display: flex;
    justify-content: space-between;
}
.row-img > .img_us {
    height: 250px;
    width: 380px;
    position: relative;
    background-color: #95e1d3;
}
.row-img > .img_us > .img_story {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.row-img > .img_us > .img_story:hover {
    top: -15px;
    left: -15px;

}
/*.img_story{*/
   /*margin-top: 100px;*/
    /*margin-bottom: 100px;*/
    /*position: relative;.*/
    /*height: 250px;*/
    /*width: 360px;*/
    /*padding: 0;*/
    /*img{*/

        /*position: absolute;*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*left: 0;*/
        /*top: 0;*/
        /*background-color: #000;*/
        /*background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);*/
        /*z-index: -1;*/

        /*}*/
  }
/*.background_row_img:hover{*/
    /*display: flex;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*left: -15px;*/
    /*top: -15px;*/
    /*cursor: pointer;*/
/*}*/

h5 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.statistics{
    background-color: #95e1d3;
    display: flex;
    justify-content: space-around;
}
.stat{
    justify-content: space-between;
    padding: 0;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    /*border: 1px solid #fff;*/
    border-right: 1px solid #fff;
    height: 100%;
}
.stat:first-child {
    border-left: 1px solid #fff; }

.stat h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
.stat h4 {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.info{
    width: 100%;
    }
.services{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.egypt{
    display: flex;
    justify-content: space-between;
}
.servis_row{
    width: 360px;
    height: 150px;
    position: relative;
    margin-top: 55px;
    margin-bottom: 52px;

}
.services_block{
    /*width: 360px;*/
    /*height: 150px;*/
    /*position: relative;*/
    /*margin-top: 55px;*/
    /*margin-bottom: 52px;*/
    border-bottom: 1px solid #eee;
}
.partn_row{
    display: flex;
    justify-content: center;
}
.design{
    display: block;
    position: relative;
    width: 100%;
}
.design:after{
    content: "";
    background: url(../img/Layer_45.png);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.design_img_one {
    padding-top: 5px;
    margin: 0 auto;
    justify-content: center;
    width: 470px;
}

.design_img_two {
    position: absolute;
    bottom: -90px;
    display: flex;
    left: 59%;
}
.service{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.team{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.team > .team_block{
    display: flex;
    justify-content: space-around;
}
.team >.team_block >.teammate > .img_wrapper{
    width: 380px;
    height: 470px;
    position: relative;
    background-color: #95e1d3;
}
.team >.team_block >.teammate > .inro_taem{
    text-align: end;
}
.team >.team_block >.teammate > .img_wrapper > .img_team{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.team >.team_block >.teammate > .img_wrapper > .img_team:hover{
    top: -15px;
    left: -15px;
}
.partners{
    background-color: #f8f8f8;;
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
